$apple-blossom: oklch(0.5228 0.1408 22.78); //#ac4142;
$alto: oklch(0.8576 0 0); //#d0d0d0;
$bouquet: oklch(0.6304 0.0875 334.25); //#aa759f;
$chelsea-cucumber: oklch(0.6973 0.1101 123.5); //#90a959;
$cod-grey: oklch(0.1957 0 0); //#151515;
$conifer: oklch(0.8671 0.1831 126.16); // #b5e853;
$dove-grey: oklch(0.5103 0 0); // #666;
$gallery: oklch(0.937 0 0); // #eaeaea;
$grey: oklch(0.6268 0 0); // #888;
$gulf-stream: oklch(0.7266 0.0678 182.33); // #75b5aa;
$hippie-blue: oklch(0.6735 0.0648 226); // #6a9fb5;
$potters-clay: oklch(0.5092 0.0893 48.05); // #8f5536;
$rajah: oklch(0.8368 0.1101 74.56); // #f4bf75;
$raw-sienna: oklch(0.6832 0.124 57.45); // #d28445;
$silver-chalice: oklch(0.738 0 0); // #aaa;
